body *{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

h1 {
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.chart {
    margin-bottom: 40px;
    width: 90%;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vega-bind {
    margin-bottom: 5px;  /* Reduce the space between slider and dropdown */
}

.vega-bindings input, 
.vega-bindings select {
    margin: 0;  /* Remove default margin */
    padding: 0;  /* Remove default padding */
}
