body *{ 
    text-align: center;
  } 
  
h1 {
    font-family: "Abril Fatface", serif;
    font-style: bold;
    font-weight: 1200;
    font-size: 80px;
    text-align: center;
    padding: 50px; 
    color : white;
    background: #6F8FAF;
}

h2 {
    font-family: "Abril Fatface", serif;
    font-style: bold;
    font-weight: 1200;
    font-size: 35px;
    text-align: center;
    background: #B6D0E2;
    color : white;
    padding: 20px; 
}

P {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

body {
    background-color: #4682B4;
}

.page {
    max-width: 1410px; 
    width: 100%;
    background-color: white; 
    margin: auto; 
    padding: 50px; 
    padding-top: 35px;
}

.vis-container {
    width: 100%; 
    text-align: center;
} 

.description h2,
h1 {
    font-family: "Abril Fatface", serif;
    font-style: bold;
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
    font-size: 20px;
}

.description-left {
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font p {
    font-size: 16px;
}


  